include *.txt
include *.rst

recursive-include docs *
recursive-include persistent *

global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
global-exclude coverage.xml

prune docs/_build
prune persistent/__pycache__

include .coveragerc
include .travis.yml
include buildout.cfg
include tox.ini
include *.py
